// Breakpoints taken from Bootstrap for a consistent experience
// You can add or remove breakpoints as you wish
$breakpoints: (
  xs: 30em,
  sm: 48em,
  md: 62em,
  lg: 75em,
  xl: 88em,
  xx: 120em
) !default;

$columns: 12;
$column-gutter: 20px;

// Path relative from outputted css to the img directory
$image-path             : '../img' !default;
